.diosa_shopboard {
	display: block;
	position: relative;
	margin-top: 10px;
	background-color: #FFF;
	padding: 10px;
}

.diosa_dashboard {
	display: block;
	position: relative;
}

.diosa_dashleft {
	display: block;
	position: relative;
	float: left;
}

.diosa_dashright {
	display: block;
	position: relative;
	float: right;
	margin-top: 5px;
}

.diosa_dashmenu {
	display: block;
	position: relative;
	float: left;
	border: solid 1px #E25786;
	padding: 5px;
	width: 145px;
}

.diosa_dashmenu img{
	width: 24px;
	height: 24px;
}

.diosa_shopcontent {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	border: solid 1px #588799;
	margin-top: -1px;
}

.dash_new_items {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url('../images/grandiosa_img_utils.png');
    background-position: 0 -177px;
}

.dashmenu_active, .diosa_dashmenu:hover {
    background-color: #588799;
    border-color: #588799;
    color: #FFF;
}


.dashmenu_active .dash_new_items, .diosa_dashmenu:hover .dash_new_items {
    background-position: 1px -154px;
}

.dash_promo_items {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url('../images/grandiosa_img_utils.png');
    background-position: -22px -176px;
}


.diosa_dashmenu:hover .dash_promo_items {
    background-position: -22px -152px;
}


.dash_hot_items {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url('../images/grandiosa_img_utils.png');
    background-position: -50px -176px;
}

.diosa_dashmenu:hover .dash_hot_items {
    background-position: -50px -153px;
}

.adjust_marL1 {
	margin-left: -1px;
}