.diosa_shopboard {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.diosa_shop_menu {
    display: block;
    position: relative;
    width: 160px;
    float: left;
}

.diosa_shop_items {
    display: block;
    position: relative;
    width: 780px;
    float: left;
    margin-left: 20px;
}


.shop_menu_grp {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.menu_grp_label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.shop_menu_grp ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.shop_menu_grp li {
    margin: 0;
    border-bottom: dotted 1px #CCC;
    padding: 5px 0 5px 10px;
}

.shop_menu_grp li a {
    color: #538799;
}

.shop_disc {
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #538799;
    margin-right: 10px;
    margin-bottom: 2px;
}

.shop_menu_grp li:hover .shop_disc {
    background-color: #E25786;
}

.shop_menu_grp li:hover a {
    color: #E25786;
}

.shop_tab_list {
    display: block;
    position: relative;
}

.shop_tab_list a {
    font-size: 16px;
    font-weight: bold;
    color: #538799;
    margin-right: 10px;
}

.shop_tab_list .tab_active, .shop_tab_list a:hover {
    color: #E25786;
}

.shop_item_list {
    display: block;
    position: relative;
}

.shop_item {
    display: block;
    position: relative;
    width: 175px;
    margin: 10px;
    float: left;
}

.shop_item img {
    width: 175px;
    height:175px;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 3px #ccc;
}

.shop_item .item_name {
    font-weight: bold;
    margin: 5px 0;
}

.shop_item var {
    text-align: right;
    font-style: normal;
}

.shop_item p {
    margin: 0;
}

.shop_item .add_to_cart {
    display: block;
    position: relative;
    background-color: #588799;
    color: #FFF;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}