<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Grandiosa Boutique</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delicious" />
    <link rel="stylesheet" type="text/css" href="css/grandiosa.css" />
    <link rel="stylesheet" type="text/css" href="css/carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/shop.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
</head>
<body>
    <div class="diosa_home_wrapper">
        <div class="diosa_wrapper">
            <div class="diosa_header">
                <div class="diosa_header_left">

                </div>
                <div class="diosa_header_right">
                    <div class="diosa_user_tool">
                        <span><div class="cart_bg"></div><a href="#">CART</a></span> | <span><div class="user_bg"></div><a href="#">MY ACCOUNT</a></span> | <span><a href="#">SITEMAP</a></span>
                    </div>
                    <div class="diosa_search_tool">
                        <form>
                            <input type="text" name="searchbox" placeholder="Search">
                            <a href="#"><div class="search_bg"></div></a>
                        </form>
                    </div>
                </div>
                <div class="clearB"></div>
            </div>
            <div class="diosa_menu">
                <div class="diosa_menu_item">
                    <a href="#">Wedding Dress</a>
                </div>
                <div class="diosa_menu_item">
                    <a href="#">Ball Gowns</a>
                </div>
                <div class="diosa_menu_item">
                    <a href="#">Cocktail Dress</a>
                </div>
                <div class="diosa_menu_item">
                    <a href="#">Entourage</a>
                </div>
                <div class="diosa_menu_item">
                    <a href="#">Evening Gown</a>
                </div>
                <div class="diosa_menu_item">
                    <a href="#">Mother's Gown</a>
                </div>
                <div class="diosa_menu_item">
                    <a href="#">Prom/Homecoming</a>
                </div>
                <div class="diosa_menu_item">
                    <a href="#">Package</a>
                </div>
                <div class="clearB"></div>
            </div>
        </div>
        <div class="diosa_content">
            <div class="diosa_carousel">
                <div class="carousel_items">
                    <div class="slide_item">
                        <a href="#">
                            <img src="images/slide-1.jpg">
                        </a>
                    </div>
                    <div class="slide_item">
                        <a href="#">
                            <img src="images/slide-2.jpg">
                        </a>
                    </div>
                    <div class="slide_item">
                        <a href="#">
                            <img src="images/slide-3.jpg">
                        </a>
                    </div>
                </div>
                <div class="carousel_pager">
                    <div class="clearB"></div>
                </div>
            </div>
            <div class="diosa_shopboard">
                <div class="diosa_shop_menu">
                    <div class="shop_menu_grp">
                        <span class="menu_grp_label">Sample Category 1</span>
                        <ul>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 1</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 2</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 3</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 4</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 5</a>
                            </li>
                        </ul>
                    </div>
                    <div class="shop_menu_grp">
                        <span class="menu_grp_label">Sample Category 2</span>
                        <ul>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 1</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 2</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 3</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 4</a>
                            </li>
                            <li>
                                <div class="shop_disc"></div><a href="#">Sample Menu 5</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="diosa_shop_items">
                    <div class="shop_tab_list">
                        <a href="#" class="tab_active">New Arrivals</a>
                        <a href="#">Popular</a>
                        <a href="#">Best Seller</a>
                    </div>
                    <div class="shop_item_list">
                        <div class="shop_item">
                            <a href="#">
                                <img src="images/item-1.jpg" />
                            </a>
                            <p class="item_name">
                                <a href="#">Sample Item 1</a>
                            </p>
                            <p class="rental_price">Rental price: <var>P100.00</var></p>
                            <p class="buying_price">Buying price: <var>P100.00</var></p>
                            <a href="#">
                                <div class="add_to_cart">Add to cart</div>
                            </a>
                        </div>
                        <div class="shop_item">
                            <a href="#">
                                <img src="images/item-2.jpg" />
                            </a>
                            <p class="item_name">
                                <a href="#">Sample Item 2</a>
                            </p>
                            <p class="rental_price">Rental price: <var>P100.00</var></p>
                            <p class="buying_price">Buying price: <var>P100.00</var></p>
                            <a href="#">
                                <div class="add_to_cart">Add to cart</div>
                            </a>
                        </div>
                        <div class="shop_item">
                            <a href="#">
                                <img src="images/item-3.jpg" />
                            </a>
                            <p class="item_name">
                                <a href="#">Sample Item 3</a>
                            </p>
                            <p class="rental_price">Rental price: <var>P100.00</var></p>
                            <p class="buying_price">Buying price: <var>P100.00</var></p>
                            <a href="#">
                                <div class="add_to_cart">Add to cart</div>
                            </a>
                        </div>
                        <div class="shop_item">
                            <a href="#">
                                <img src="images/item-4.jpg" />
                            </a>
                            <p class="item_name">
                                <a href="#">Sample Item 4</a>
                            </p>
                            <p class="rental_price">Rental price: <var>P100.00</var></p>
                            <p class="buying_price">Buying price: <var>P100.00</var></p>
                            <a href="#">
                                <div class="add_to_cart">Add to cart</div>
                            </a>
                        </div>
                        <div class="clearB"></div>
                    </div>
                </div>
                <div class="clearB"></div>
            </div>
        </div>
        <div class="diosa_footer">
            <div class="diosa_social">
                <p class="social_follow">Be connected. Follow our updates on</p>
                <div class="social_links">
                    <a href="#" title="Like us on Facebook"><div class="fb_link"></div></a>
                    <a href="#" title="Follow us on Twitter"><div class="twitter_link"></div></a>
                    <a href="#" title="COnnect to us to Google Plus"><div class="gplus_link"></div></a>
                    <div class="clearB"></div>
                </div>
            </div>
            <div class="diosa_about">
                <div class="about_delivery">
                    <div class="delivery_icon"></div>
                    <div class="delivery_wrapper">
                        <p class="delivery_label">Visit our store</p>
                        <p class="delivery_desc">
                            GrandDiosa Fashionline<br/>
                            214, 215 Pasilio, 2nd Floor, Sta. Elena Market, Sta. Elena, Marikina City
                        </p>
                    </div>
                    <div class="clearB"></div>
                </div>
                <div class="about_contact">
                    <div class="contact_icon"></div>
                    <div class="contact_wrapper">
                        <p class="contact_label">Contact us</p>
                        <p class="contact_desc">
                            Telephone number: (632)-369-7055<br/>
                            Mobile number: (0927)-873-5775
                        </p>
                    </div>
                    <div class="clearB"></div>
                </div>
                <div class="about_email">
                    <div class="email_icon"></div>
                    <div class="email_wrapper">
                        <p class="email_label">Send your inquiries</p>
                        <p class="email_desc">
                            Email address: <a href="mailto:admin@grandiosa.com">admin@grandiosa.com</a><br/>
                            Skype ID: gradiosa.sales
                        </p>
                    </div>
                </div>
            </div>
            <div class="diosa_company">
                <p class="company_label">Grandiosa Couture</p>
                <p class="company_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet finibus turpis, at aliquam tellus. Nam consectetur ullamcorper egestas. Etiam varius interdum eros. Morbi mattis maximus quam, eget mattis elit elementum in. Cras ut mattis velit. Quisque sed purus ultricies, maximus libero eget, auctor ex.</p>
            </div>
            <div class="clearB"></div>
        </div>
    </div>
</body>
</html>