<div class="diosa_footer">
    <div class="diosa_social">
        <p class="social_follow">Be connected. Follow our updates on</p>
        <div class="social_links">
            <a href="#" title="Like us on Facebook"><div class="fb_link"></div></a>
            <a href="#" title="Follow us on Twitter"><div class="twitter_link"></div></a>
            <a href="#" title="COnnect to us to Google Plus"><div class="gplus_link"></div></a>
            <div class="clearB"></div>
        </div>
        <div class="social_likebox">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fzarkexpress&amp;width&amp;height=135&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:135px;" allowTransparency="true"></iframe>
        </div>
    </div>
    <div class="diosa_about">
        <div class="about_delivery">
            <div class="delivery_icon"></div>
            <div class="delivery_wrapper">
                <p class="delivery_label">Visit our store</p>
                <p class="delivery_desc">
                    GrandDiosa Fashionline<br/>
                    214, 215 Pasilio, 2nd Floor, Sta. Elena Market, Sta. Elena, Marikina City
                </p>
            </div>
            <div class="clearB"></div>
        </div>
        <div class="about_contact">
            <div class="contact_icon"></div>
            <div class="contact_wrapper">
                <p class="contact_label">Contact us</p>
                <p class="contact_desc">
                    Telephone number: (632)-369-7055<br/>
                    Mobile number: (0927)-873-5775
                </p>
            </div>
            <div class="clearB"></div>
        </div>
        <div class="about_email">
            <div class="email_icon"></div>
            <div class="email_wrapper">
                <p class="email_label">Send your inquiries</p>
                <p class="email_desc">
                    Email address: <a href="mailto:admin@grandiosa.com">admin@grandiosa.com</a><br/>
                    Skype ID: gradiosa.sales
                </p>
            </div>
        </div>
    </div>
    <div class="diosa_company">
        <p class="company_label">Grandiosa Couture</p>
        <p class="company_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet finibus turpis, at aliquam tellus. Nam consectetur ullamcorper egestas. Etiam varius interdum eros. Morbi mattis maximus quam, eget mattis elit elementum in. Cras ut mattis velit. Quisque sed purus ultricies, maximus libero eget, auctor ex.</p>
    </div>
    <div class="clearB"></div>
    </div>