<div class="diosa_wrapper">
    <div class="diosa_header">
        <div class="diosa_header_left">

        </div>
        <div class="diosa_header_right">
            <div class="diosa_user_tool">
                <span><div class="cart_bg"></div><a href="#">CART</a></span> | <span><div class="user_bg"></div><a href="/login/">MY ACCOUNT</a></span>
            </div>
            <div class="diosa_search_tool">
                <form>
                    <input type="text" name="searchbox" placeholder="Search">
                    <a href="#"><div class="search_bg"></div></a>
                </form>
            </div>
        </div>
        <div class="clearB"></div>
    </div>
    <div class="diosa_menu">
        <div class="diosa_menu_item">
            <a href="#">Wedding Dress</a>
        </div>
        <div class="diosa_menu_item">
            <a href="#">Ball Gowns</a>
        </div>
        <div class="diosa_menu_item">
            <a href="#">Cocktail Dress</a>
        </div>
        <div class="diosa_menu_item">
            <a href="#">Entourage</a>
        </div>
        <div class="diosa_menu_item">
            <a href="#">Evening Gown</a>
        </div>
        <div class="diosa_menu_item">
            <a href="#">Mother's Gown</a>
        </div>
        <div class="diosa_menu_item">
            <a href="#">Prom/Homecoming</a>
        </div>
        <div class="diosa_menu_item">
            <a href="#">Package</a>
        </div>
        <div class="clearB"></div>
    </div>
</div>