<div class="diosa_shopboard">
	<div class="diosa_dashboard">
		<div class="diosa_dashleft">
			<a href="#">
				<div class="diosa_dashmenu dashmenu_active">
					<img src="../templates/images/icon_login.png" />
					<span>Login</span>
				</div>
			</a>
			<div class="clearB"></div>
		</div>
		<div class="diosa_dashright">
			<div class="diosa_user_tool">
                <span>
                    <div class="user_bg"></div>
                    <a href="#" class="diosa_user_account">
                        <span>MY ACCOUNT</span>
                        <div class="option_expand"></div>
                    </a>
                    <div class="diosa_user_option">
                        <ul>
                            <li>
                                <a href="/register/">Register</a>
                            </li>
                            <li>
                                <a href="/login/">Login</a>
                            </li>
                            <li>
                                <a href="/cart/">My cart</a>
                            </li>
                        </ul>
                    </div>
                </span>
                <span>
                    <div class="cart_bg"></div>
                    <a href="#">CART (0)</a>
                </span>
            </div>
            <div class="diosa_search_tool">
                <form>
                    {% csrf_token %}
                    <input type="text" name="searchbox" placeholder="Search">
                    <a href="#"><div class="search_bg"></div></a>
                </form>
            </div>
            <div class="clearB"></div>
		</div>
		<div class="clearB"></div>
	</div>
    <div class="diosa_user_login">
        <form method="POST">
            {% csrf_token %}
            {% if login_error %}
            <div class="login_field_wrapper">
                <div class="error_icon">!</div>
                <div class="login_failed">Invalid email address or password.</div>
                <div class="clearB"></div>
            </div>
            {% endif %}
            <div class="login_field_wrapper">
                <input type="text" placeholder="Email Address" name="cust_email" value=""/>
                <img src="../templates/images/icon_email.png" />
            </div>
            <div class="login_field_wrapper">
                <input type="password" placeholder="Password" name="cust_password" value=""/>
                <img src="../templates/images/icon_password.png" />
            </div>
            <div class="login_field_wrapper">
                <input type="checkbox" name="cust_keep_login" id="cust_keep_login"/>
                <label for="cust_keep_login">Keep me login to this computer</label>
            </div>
            <div class="login_field_wrapper">
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
                <div class="clearB"></div>
            </div>
            <div class="login_field_wrapper">
                <label>Forgot password? Retrieve it <a href="#">here</a>.</label>
            </div>
        </form>
    </div>
</div>